<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDrxc4pjDbT9QnkhX2pToLIrdT11XedM1A</string>
	<key>GCM_SENDER_ID</key>
	<string>1062148041883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.morefirebase</string>
	<key>PROJECT_ID</key>
	<string>more-firebase-dcf6c</string>
	<key>STORAGE_BUCKET</key>
	<string>more-firebase-dcf6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1062148041883:ios:f19cf379a85652ae056a3e</string>
</dict>
</plist>